<div class="container">
    <form class="login-form">
        <h4 style="margin-bottom: 20px;"><span class="glyphicon glyphicon-lock"></span> Sign-In</h4>

        <div class="form-group">
            <label for="userName">User name:</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="userName" id="userName" placeholder="user name" autocomplete="username">
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" id="password" placeholder="password" autocomplete="current-password">
        </div>
        
        <button type="submit" class="btn btn-primary login-button" (click)="doLogin()">Login</button>
    </form>
</div>
